{"db_name":"registry", "doc_count":510733,"doc_del_count":350,"update_seq":4953316,"purge_seq":0,"compact_running":false,"disk_size":2738104947,"data_size":2216756391,"instance_start_time":"1489531527656040","disk_format_version":6,"committed_update_seq":4953315}